@use 'modules/_chat-bar';
@use 'modules/_chat-section';
@use 'modules/_chat-friend';
@use 'modules/_chat-msg';
@use 'modules/_chat-input';
:root {
    --chat-ui-bg-color: purple;
    --chat-ui-bg-color: rgba(255, 255, 255, 0.9);
    --chat-scrollbar-bg-color: transparent;
    --chat-scrollbar-thumb-bg-color: whitesmoke;
    --your-msg-bg-color: green;
    --their-msg-bg-color: teal;
    --msg-text-color: white;
    --app-msg-color: green;
    --chat-accent-color: rgba(15, 54, 153, 0.4);
    --status-dot-color:gold;
    --chat-navbar-color: rgba(15, 54, 153, 0.4);
    --msg-textbox-bg-color: rgba(0, 0, 0, 0.7);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
.chat-container {
    width: 100%;
    background-color: var(--chat-ui-bg-color);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://cutewallpaper.org/cdn-cgi/mirage/dd19f2d06ebc24f541f142b37b4289ffa7de722a7607e39984c5c6dd4ce8defd/1280/21/facet-wallpapers/Facet-Wallpaper-Justin-Maller-Facet-Wallpapers-95-Images-.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .chat-section-container {
        li {
            margin: 5px 0;
            div {
                max-width: 75%;
            }
        }
    }
}
